REDIS_HOST=localhost
REDIS_PORT=6379
POSTGRES_HOST="localhost"
POSTGRES_PORT=5433 # 5432 
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="mydatabase"
JWT_SECRET=jwt-secret
JWT_EXPIRATION=1d
REDIS_URL="redis://localhost:6379"